@font-face {
  font-family: myFirstFont;
  src: url(Adjuster.otf);
}

body{
   margin: 0;
   padding: 0;
   background-color: black;
    font-family: myFirstFont;
    color: white;
}

/* #cursor{
   position: absolute;
   width: 20px;
   height: 20px;
   border: 2px solid white;
   box-sizing: border-box;
   transition: 0.1s;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   pointer-events: none;
} */



.lower-case:hover{
   text-transform: lowercase;
}

.nav-ul{
margin: auto;
width: 100%;
font-size: 9px;
  position: fixed;
  top: 3.5%;

}

.nav-li{
   display: inline;
   padding: 5px;
}

.p-home{
   width:30px;
   margin: auto;
}

a{
   padding: 9px;
   color: white;
}

a:link {
  text-decoration: none;

}

/* a:hover {
  text-decoration: none;
  opacity: 100%;
} */


img{
     display: block;
   margin: auto;
   width: 75vw;
   padding-bottom: 5%;
   padding-top: 5%;
}

hr{
   opacity: 60%;
}


h1{
   font-size: 20px;
   /* background-color: yellow; */
   width: 150px;
   margin: auto;
   margin-top: 22%;
}

.home-nav{
   padding-right: 36.5px;
}

.container-memes{
   width: 100%vw;
   display: flex;
   flex-wrap: wrap;
   padding-top: 3%;
   
}

.memes{
   width: 20%;
   display: inline-block;
 padding: 0.1px;
}

.p-meme{
   position: absolute;
   font-size: 75px;
   width: 75vw;
   margin: auto;
   top:40%;
   z-index: -2;
}
.p-meme-2{
   position: absolute;
   font-size: 18px;
   width: 250px;
   margin: auto;
   top:50%;
   z-index: -2;
      text-align: center;
}

.underline{
   display: inline;
   border-radius: 25px;
   border: 2px dotted white;
   padding: 5px;
   background-color: red;
}

.arrow{
   width:  25%;  
   background-color: red;
   padding: 0px;
}

.p-text{
   width: 75vw;
   margin: auto;
}

.arrow-1{
   margin-top: -50px;
}

.intro{
   width: 95vw;
   padding: 0px;
}

/* .ul-postit,.li-postit{
  list-style:none;
}
.ul-postit{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
.a-postit{
  text-decoration:none;
  color:#000;
  background: rgb(102, 102, 102);
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  z-index: 5;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: white;
}

.a-postit:hover{
     box-shadow: 4px 4px 5px white;
}


#sticky{
   font-family: myFirstFont;
   font-size: 0.7rem;
    background:rgb(102, 102, 102);
    color: white;
}


.journals{
   opacity: 40%;
}

.journals:hover{
   opacity:100%;
   cursor: pointer;
}
.space{
height: 100px;;
}

.key{
   width: 90vh;
   margin-top: 0px;
}

.send{
     border: 2px solid white;
     width: 4rem;
     height: 100%;
     border-style: dashed;
        opacity: 60%;
       border-radius: 25px;
       text-align: center;
       margin-left: 35px;
       

}

.send:hover{
   opacity: 100%;

}


h2{
   font-size: 20px;
   padding: 5px;
   margin-top: 8%;
   width: 100%;
   width:180px;
   padding-left: 35px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

#instructions{   
   background-color: black;
    font-family: myFirstFont;
    color: white;
   font-size: 15px;
}

.instructions{
   padding-left: 35px;
}


.down-arrow{
   position: absolute;
   margin-top: 0px;
   width: 7%;
   right:20%;
   /* margin-top: -5%; */
}